@charset "utf-8";
/**初始化**/
body,h1,h2,h3,p,ul,li,img,figure,figcaption {   /*去边框*/
	margin: 0px;
	padding: 0px;
}
body{  /*字体样式*/
	background-color: #000;
	letter-spacing: 1.2px;
	font-family: "Helvetica Neue", Helvetica, Arial,"微软雅黑","Microsoft Yahei","Microsoft Yahei UI", SimHei, "\5B8B\4F53", simsun, sans-serif;
}
ul,ol{  /*去列表样式*/
	list-style: none outside none;
}
a{ /*去下划线*/
	text-decoration: none;
}
img { /*图片流体布局*/
	display: block;
	max-width: 100%;
}
div,li{  /*border，padding不扩充宽高*/
	box-sizing:border-box;
}
.clearfix::after{  /*清理浮动div*/
	content: "qingsword.com";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}

/**导航**/
#nav {
	background-color: #000;
	width: 100%;
	height: 70px;
	box-shadow: 0px 1px 4px rgb(229,229,229);
	position: fixed;
	top: 0;
	z-index: 9999;
}
#nav .nav-container{
	max-width: 1263px;
	margin: 0 auto;
}
#nav  .nav-logo{
	width: 189px;
	height: 60px;
	margin-top: 5px;
	background-image: url("../logo/logoa.png") ;
	background-repeat: no-repeat;
	text-indent: -9999px;
	float: left;
}
#nav .nav-site-description{
	border-left: 1px solid #7e7d7d;
	height: 45px;
	line-height: 45px;
	margin:12.5px 0 0 10px;
	padding-left: 10px; 
	font-size: 17px;
	letter-spacing: 1.2px;
	color: #dedede;
	font-weight: normal;
	/*text-shadow:1px 1px 1px gray ;*/
	float: left;
}
#nav .nav-links{
	float: right;
	font-size: 18px;
}
#nav .nav-links li{
	float: left;
}
#nav .nav-links a{
	display: inline-block;
	height: 70px;
	width: 110px;
}
#nav .nav-links .link-word{
	display: block; 
	text-align: center;
	line-height: 70px;
	color: #e7e7e7;
	text-shadow:1px 1px 1px gray ;
	letter-spacing: 1.2px;
}
#nav .nav-links li:hover,
#nav .nav-links .active{
	border-bottom: 1px solid rgb(3, 192, 198);
	background-color: #222;
}
#nav .nav-links .link-word:hover{
	color: #fff;
	font-size: 18.5px;
}
#nav .link-img{
	display: inline-block;
	vertical-align: middle; 
	margin-right: 5px;
}


/**媒体查询，响应式布局**/
/*当页面大于1200px时，PC大屏*/
@media (min-width: 1200px) {

}
/*在992和1199像素之间，PC小屏*/
@media (min-width: 992px) and (max-width: 1199px) {
	#nav  .nav-logo{
		margin-left: 10px;
	}
 	#nav .word-hidden{
 		display: none;
 	}
 	#nav .nav-links a {
		width: 82px;
	}
}
/*在768和991像素之间，PAD端*/
@media (min-width: 768px) and (max-width: 991px) {
	#nav  .nav-logo{
		margin-left: 10px;
	}
	#nav .nav-links a {
		width: 82px;
	}
	#nav .desc-hidden,
	#nav .word-hidden{
 		display: none;
 	}
}
/*在480和767像素之间，高分辨率手机端*/
@media (min-width: 480px) and (max-width: 767px) {
	#nav  .nav-logo{
		margin-left: 10px;
	}
	#nav .nav-links a {
		width: 82px;
	}
	#nav .desc-hidden,
	#nav .word-hidden,
	#nav .li-hidden{
 		display: none;
 	}
}
/*小于480像素的屏幕，低分辨率手机端*/
@media (max-width: 479px) {
	#nav  .nav-logo{
		margin-left: 10px;
	}
	#nav .nav-links a {
		width: 82px;
	}
	#nav .desc-hidden,
	#nav .word-hidden,
	#nav .li-hidden{
 		display: none;
 	}
}

/**页尾**/
#footer { 
	width: 100%;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-size: 15px;
	color: #999;
	background-color:#000;
	border-top: 1px solid #666;
	margin-top: 10px;
}
#footer .footer-container{
	max-width: 1263px;
	margin: 0 auto;
}
#footer img{
	display: inline-block;
	vertical-align: middle;
}


