@charset "utf-8";
/*home内容区主框架*/
#content {
	width 100%;
	margin-top: 90px;
}
#content .content-container{
	max-width: 1263px;
	margin: 0 auto;
	padding: 0 6px;
}
/*/home内容区主框架*/

/*侧边栏*/
#content  .aside{
	width: 26%;
	float: right;
}
#content .about,
#content .tags,
#content .recommend{
	font-size: 18px;
	border: 1px solid #7e7d7d;
	border-radius: 8px;
	padding: 8px;
	margin-bottom: 10px;
}
#content .about h2,
#content .tags h2,
#content .recommend h2{
	display: block;
	height: 35px;
	line-height: 35px;
	background-image: linear-gradient(90deg,rgb(3, 192, 198) 0%,black 8%);
	border-radius: 6px;
	font-size: 18px;
	font-weight: normal;
	color: #dedede;
	padding-left: 18px;	
}
#content .aside .eng-h{
	font-size: 15px;
	color: #6ec3c8;
}
#content .about .about-link{
	display: block;
	height: 32px;
	margin: 6px 0 6px 18px;
}
#content .about .qingbarin{
	float: left;
}
#content .about .about-span{
	display: block;
	float: left;
	line-height: 32px;
	margin-left: 5px;
	color: #c7c5c5;
}
#content .about figure{
	margin: 0px 0px 5px 22px;
	clear: both;
}
#content .about .about-info{
	margin-right: 9px;
	float: left;
}
#content .about figure:after{  
	content: "qingsword.com";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
#content .about figure figcaption,
#content .about figure figcaption a{
	display: block;
	float: left;
	height: 24px;
	line-height: 24px;
	color:#999;
}
#content .tags ul,
#content .recommend ul{
	margin: 6px 0 0 20px;
}

#content .tags li{
	float: left;
}
#content .tags li a{
	margin: 4px;
	display: block;
	width: 122px;
	height: 32px;
	border-radius: 6px;
	line-height: 32px;
	text-align: center;
	color: #c9c9c9;
	border:1px solid #333;
}
#content .tags li a:hover{
	border:1px solid rgb(3, 192, 198);
	color: white;
}
#content .recommend li a{
	display: block;
	margin: 4px 4px 6px 4px;
	color: #c9c9c9;
	overflow: hidden;  /*截取多余部分，不换行*/
	white-space: nowrap;
	text-overflow:ellipsis;
	border-radius: 4px;
	letter-spacing: 1.2px;
}
#content .recommend li a:hover{
	background-color: #0c0c0c;
	color: #fff;
}
/*/侧边栏*/

/*文章摘要区*/
#content  .sections{
	width: 73%;
	float: left;
}
#content .sections .sections-title{
	border-bottom: solid 2px #333;
	margin: 12px 0;
}
#content .sections .sections-title h2{
	display: inline-block;
	border-bottom: solid 2px #1ea65c;
	font-size: 22px;
	color: #c7c5c5;
	letter-spacing: 1.2px;
}
#content .sections .article{
	border: 1px solid #7e7d7d;
	border-radius: 6px;
	margin-bottom: 10px;
	padding: 10px;
}
#content .sections .article:hover{
	background-color: #0c0c0c;
}
#content .article header{
	border-left: 4px solid #1ea65c;
}
#content .article header h1{
	letter-spacing: 1.2px;
	font-size: 20px;
	padding: 10px;
}
#content .article header a{
	color: #cfcfcf;
}
#content .article header a:hover{
	color: #fff;
}
#content .article section p{
	letter-spacing: 1.2px;
	font-size: 18px;
	padding: 16px;
	color: #c7c7c7;
}
#content .article section a{
	color: #d2d2d2;
	display: block;
	width: 120px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	border-radius: 6px;
	font-size: 18px;
	margin-left: 16px;
	border: 1px solid #1ea65c;
}
#content .article section a:hover{
	color: #fff;
}
#content .article footer{
	margin: 6px 0 0 16px;
	font-size: 16px;
	letter-spacing: 1.2px;
	color: #bebebe;
}
#content .article footer time{
	color:#c7c7c7;
}
#content .article footer span{
	padding-left: 10px;
}
#content .article footer a{
	display: inline-block;
	padding: 0 4px;
	text-align: center;
	border-radius: 4px;
	color: #fff;
	background-color:#1ea65c;
}
#content .sections .article-all
{
	width: 200px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 18px;
	border-radius: 8px;
	background-color: #1ea65c;
	margin: 0 auto;
}
#content .sections .article-all a{
	display: block;
	color: #fff;
}
/*/文章摘要区*/

/*sitemap归档*/
#content .sitemap .sitemap-ul a{
	color: #cfcfcf;
}
#content .sitemap .sitemap-ul>li:nth-of-type(1){
	background-image: url("../logo/web.png");
	background-repeat: no-repeat;
	padding-left: 28px;
}
#content .sitemap .sitemap-ul>li:nth-of-type(2){
	background-image: url("../logo/linux.png");
	background-repeat: no-repeat;
	padding-left: 28px;	
}
#content .sitemap .sitemap-ul>li:nth-of-type(3){
	background-image: url("../logo/net.png");
	background-repeat: no-repeat;
	padding-left: 28px;
}
#content .sitemap .sitemap-ul>ul{
	padding-left: 28px;
}
#content .sitemap .sitemap-ul>li{
	float: left;
	width: 33.33%;
}
#content .sitemap .sitemap-sub-ul>li{
	display: block;
	border: 1px solid #1ea65c;
	border-radius: 6px;
	text-align: center;
	width: 180px;
	height: 30px;
	line-height: 30px;
	margin: 6px 0;
	letter-spacing: 1.2px;
}
#content .sitemap .sitemap-sub-ul>li:hover{
	background-color: #1ea65c;
}
#content .sitemap .sitemap-sub-ul>li a{
	display: block;
}
#content .sitemap .sitemap-sub-ul>li a:hover{
	color: #fff;
}
#content  .clearnavfix:before{
	content: "qingsword.com";
	display: block;
	width: 0px;
	height: 76px;
	visibility: hidden;
	clear: both;
}
#content .col-name{
	display: inline-block;
	border-left: 2px solid #1ea65c;
	border-bottom: 2px solid #1ea65c;
	border-radius: 4px;
	color: #c7c5c5;
	padding: 10px;
}
#content .col-content{
	padding-left: 20px;
}
#content .col-content a{
	display: block;
	border-left: 1px solid  #1ea65c;
	margin: 0 10px 0 0;
	padding: 6px 0 6px 6px;
	border-radius: 4px;
	font-size: 18px;
	color: #c7c5c5;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#content .col-content a:hover{
	background-color: #111;
	color: #fff;
}
/*/sitemap归档*/

/*媒体查询区*/
/*当页面大于1200px时，PC大屏*/
@media (min-width: 1200px) {

}
/*在992和1199像素之间，PC小屏*/
@media (min-width: 992px) and (max-width: 1199px) {
	#content  .aside{
		width: 30%;
		float: right;
	}
	#content  .sections{
		width: 69%;
		float: left;
	}
	#content .tags li a{
		width: 110px;
	}
}
/*在768和991像素之间，PAD端*/
@media (min-width: 768px) and (max-width: 991px) {
	#content .tags li a{
		width: 125px;
	}
	#content .about .about-hidden{
		display: none;
	}
	#content .about .about-span{
		font-size: 16px;
	}
	#content .sitemap {
		width: 214px;
		margin: 0 auto;
	}
	#content .sitemap .sitemap-ul>li{
		float: none;
		width: 100%
	} 
}
/*在480和767像素之间，高分辨率手机端*/
@media (min-width: 480px) and (max-width: 767px) {
	#content .aside-hiden{
		display: none;
	}
	#content .sections{
		width: 100%;
	}
	#content .sitemap {
		width: 214px;
		margin: 0 auto;
	}
	#content .sitemap .sitemap-ul>li{
		float: none;
		width: 100%
	} 
}
/*小于480像素的屏幕，低分辨率手机端*/
@media (max-width: 479px) {
	#content .aside-hiden{
		display: none;
	}
	#content .sections{
		width: 100%;
	}
	#content .sitemap {
		width: 214px;
		margin: 0 auto;
	}
	#content .sitemap .sitemap-ul>li{
		float: none;
		width: 100%
	} 
}
/*/媒体查询区*/
