@charset "utf-8";
body,h1,h2,h3,p,ul,ol,input,label,figure{  /*去掉内外边距*/
	margin: 0px;
	padding: 0px;
}
ul,ol{ /*去掉ul前标记，不使用图标，如果想使用图标替换最后一个none为url()*/
	list-style: none outside none;
}
a{ /*去除a下划线*/
	text-decoration: none;
}
#header-nav{ /*配置导航框架，设置一个下边框，背景，高度，并且固定在浏览器顶部，浮在所有元素之上*/
	background-color: #000; 
	width: 100%;
	margin: 0 auto;
	height: 70px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	box-shadow: 0px 1px 4px #888888;
}
#header-nav .nav-logo{
	margin-left: 20px;
	width: 178px; /*必须精确设置logo宽度和高度*/
	height: 70px;
	background-image: url("logo1.jpg");
	text-indent: -9999px; /*将文字向左移出浏览器可视范围*/
	color: gray;
	float: left; /*左浮动，因为h1是块级元素，左浮才能让后面跟随其他信息*/
}
#header-nav .nav-link {
	margin-right: 20px;
	height: 70px;  /*配置ul高度70px，和nav高度一致*/
	/*line-height: 70px; */ /*配置ul中的元素垂直居中*/
	float: right; /*使得ul右浮动，如果这里是left则会跟随在h2的后面*/
	font-size: 22px; /*设置ul中所有元素文字大小*/
}
#header-nav .nav-link li{
	width: 90px;  /*配置每个li前后间隔，否则会自适应文字长度*/
	height: 68px;  /*配置li高度，配合li:hover实现鼠标放置动态效果，如果不指定高度，动态效果将不会满格*/
	text-align: center; /*li中的文字水平居中*/
	float: left; /*每个li左浮动，横排显示*/
}
#header-nav .nav-link  a{
	display: inline-block;
	width: 90px;
	height: 70px;
}
#header-nav .nav-link span{
	display: block; /*将a转换成块级元素*/
	height: 30px;  /*配置区块高度，这样border就是30px长度*/
	line-height: 30px; /*a中的文字垂直居中*/
	margin-top: 20px; /*a在nav中垂直居中（70-30）/2*/
	border-left: 1px solid #7e7d7d; /*左边框*/
	color: #c7c5c5;
	text-shadow:1px 1px 1px yellow ;
}
#footer{ /*页尾宽度高度颜色和顶部边框*/
	width: 100%;
	height: 120px;
	background-color: #222;
	border-top: 1px solid #b5e853;
	clear: both;
}
#footer .footer-top{ /*页尾上部*/
	height: 60px;
	text-align: center;
}
#footer .footer-buttom{ /*页尾下部*/
	height: 60px;
	text-align: center;
	background-color:#000;
}
