@charset "utf-8";
html{ /*使用rem，设置基准大小*/
	font-size: 10px;
}
body,h1,h2,h3,p,ul,ol,input,label,figure{  /*去掉内外边距*/
	margin: 0px;
	padding: 0px;
}
body{  /*字体样式*/
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}
ul,ol{ /*去掉ul前标记，不使用图标，如果想使用图标替换最后一个none为url()*/
	list-style: none outside none;
}
a{ /*去除a下划线*/
	text-decoration: none;
}
div,input{  /*解决border，padding占用实际宽度和高度的问题*/
	box-sizing:border-box;
}
.clearfix:after{  /*清理浮动div*/
	content: "233";
	display: block;
	height: 0;
	visibility: hidden;
	clear: both;
}
#header-nav{ /*配置导航框架，设置一个下边框，背景，高度，并且固定在浏览器顶部，浮在所有元素之上*/
	background-color: #000; 
	width: 100%;
	margin: 0 auto;
	height: 7rem;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
	box-shadow: 0px 1px 4px #b5e853;
}

#header-nav .nav-logo{
	margin-left: 5%; /*距左边5%，流体布局*/
	width: 17.8rem; /*必须精确设置logo宽度和高度*/
	height: 7rem; /*本例中7rem=70px，根据html中的font-size计算得出*/
	background-image: url("logo1.jpg");
	background-repeat: no-repeat;
	/*background-size: contain;*/
	text-indent: -999rem; /*将文字向左移出浏览器可视范围*/
	color: gray;
	float: left; /*左浮动，因为h1是块级元素，左浮才能让后面跟随其他信息*/
}

#header-nav .nav-link {
	margin-right: 5%;
	height: 7rem;  /*配置ul高度70px，和nav高度一致*/
	float: right; /*使得ul右浮动，如果这里是left则会跟随在h2的后面*/
}
#header-nav .nav-link li{
	width: 5rem;  /*配置每个li前后间隔，否则会自适应文字长度*/
	text-align: center; /*li中的文字水平居中*/
	float: left; /*每个li左浮动，横排显示*/
}
#header-nav .nav-link  a{
	display: inline-block;
	font-size: 2rem;
	width: 5rem; 
	height: 7rem;
}
#header-nav .nav-link span{
	display: block; /*将a转换成块级元素*/
	height: 3rem;  /*配置区块高度，这样border就是30px长度*/
	line-height: 3rem; /*a中的文字垂直居中*/
	padding-left: 1rem;
	margin-top: 1.5rem; /*a在nav中垂直居中（70-30）/2*/
	border-left: 0.1rem solid #b5e853; /*左边框*/
	color: #c7c5c5;
	text-shadow:1px 1px 1px yellow ;
}

#container .img{
	width: 100%;
	margin-top: 7rem; /*因为header是fixed，图片会被覆盖，所以需要空出顶部7rem*/
	height: 20rem;
	background: url("mob.jpg") no-repeat center; /*居中不平铺*/
}
#container .search{
	height: 3.4rem;
	width: 100%;
	position: relative; /*配置相对点*/
}
#container .search input{
	font-size: 1.8rem;
	display: block; /*input是内联元素，需要改成区块才能设置宽高*/
	height: 3.6rem;
	width: 100%;
	margin: 0.1rem auto;
	outline: none; /*点击不显示外边框*/
	/*border: none;  如果不设置box-sizing:border-box;就需要设置这三属性
	border-top: 0.2rem solid #eee; 否则屏幕下方会出现横向滚动条，因为input边框超出了2像素
	border-bottom: 0.2rem solid #eee;*/ 
	text-indent: 0.34%;
	line-height: 3.6rem;
}
#container .search button{
	display: block;
	font-size: 1.8rem;
	height: 3.25rem;
	outline: none; /*点击后不显示外边框*/
	border: none;   /*不显示按钮阴影（不显示立体按钮效果）*/
	background-color: #eee;
	border-top-right-radius:0.4rem;  /*圆角*/
	 border-bottom-right-radius:0.4rem;
	 position: absolute; /*相对父元素的相对点进行绝对定位*/
	 top: 0.155rem;
	 right: 0.34%;
	 cursor: pointer; 
}
#container .hgroup{  /*图片下方标题组*/
	width: 100%;
	margin: 0.6rem 0 0.6rem 0;
	color: #666;
}
#container .hgroup h2{  
	text-align: center; 
	font-size: 2.6rem;
}
#container .hgroup h3{
	text-align: center;
	font-weight: normal;
	font-size: 1.8rem;
	margin-top: 0.4rem;
}
#container .figure-container{
	width: 100%;
}
#container  .figure-container figure {
	color: #666;
	height: 10.2rem;
	margin: 0.5rem auto;
	border: 1px solid #eee;
	padding: 0.4rem;
	position: relative;
}
#container .figure-container figcaption{
	height: 105px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	line-height: 1.8rem
}
#container  .figure-container .title{
	font-size: 1.8rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	letter-spacing: 0.1rem;
}
#container figure img{
	margin-right: 1.2rem;
	vertical-align: middle;
	float: left;
}
#container  .figure-container p{
	font-size: 1.6rem;
	margin-top: 0.5rem;
	overflow: hidden;
	white-space: nowrap;
	text-overflow:ellipsis;
	letter-spacing: 0.1rem;
}
#container  .figure-container .info em{
	border: 0.1rem solid green;
	width: 4rem;
	border-radius: 0.4rem;
	font-style: normal;
	font-size: 1.4rem;
}
#container  .figure-container .price{
	margin-top: 1rem;
	font-size: 1.5rem;
	color: #f60;
}
#container  .figure-container .price strong{
	font-size: 1.8rem;
}
#container .figure-container .type{
	background-color: green;
	color: #fff;
	font-size: 1.4rem;
	 border-bottom-right-radius:0.2rem;
	position: absolute;
	top: 0.4rem;
	left: 0.4rem;
}

#footer { /*页尾*/
	width: 100%;
	height: 4.5rem;
	line-height: 4.5rem;
	text-align: center;
	font-size: 1.5rem;
	color: #666;
	background-color:#000;
	margin-top: 0.1rem;
	border-top: 1px solid #b5e853;
}
